
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  min-height: 100vh;
}

header > img {
  display: flex;
  margin: auto;
  width: 150px;

}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-size: 1.2rem;
  background-color: #282a36;
  color: #f8f8f2;
}

header, main {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
}

