* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, 
body {
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header, main {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 800px;
}

